*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.services-h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #323f52;
}

p{
    text-align: center;
}

.services {
    width: 100%;
    padding-block: 120px;
    background-color: #eff3f9;
}

.services-container {
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.services-row {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.icon{
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 50%;
    text-align: center;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
}

.icons {
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 1.75rem;
}